<app-home></app-home>
<h3 class="mt-5 mb-3">Booking List</h3>
<table  class="table">
    <thead>
        <tr>
            <th>Guest Name</th>
            <th>Guest Email</th>
            <th>Roomnumber</th>
            <th>Check in date</th>
            <th>Check out Date</th>
            <th>Actions</th>
        </tr>
    </thead>


    <tbody *ngIf="bookingArray.length; else infoMsgTemaplate">
        
            <tr *ngFor="let booking of bookingArray">
                
                <td>{{booking.guestName}}</td>
                <td>{{booking.guestEmail}}</td>
                <td>{{booking.roomNumber}}</td>
                <td>{{booking.checkInDate}}</td>
                <td>{{booking.checkOutDate}}</td>

                <button class="btn btn-danger" (click)="deleteById(booking.id)">Delete Booking</button>
                <button class="btn btn-primary" [routerLink]="['/edit', booking.id]">Edit</button>

            </tr>
    
    </tbody>
</table>


<ng-template #infoMsgTemaplate>

    <p>No list stored in local storage</p>

</ng-template>
